@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',
        sans-serif;
}

body {
    background-color: #091921;
}

/* navbar */

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 10vh;
    background-color: black;
    height: 50px;
}

nav .navbar-brand {
    display: flex;
    justify-self: start;
    align-self: center;
    color: white;
}

nav .nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-right: 2rem;
}

.nav-links li:hover {
    margin-right: 2rem;

}

.nav-links a {
    text-decoration: none;
    color: white;
}



.but-gündüz {
    background-color: white;
    color: black;
    border-radius: 30px;
    padding: 5px;
}

.but-gündüz:hover {
    background-color: black;
    color: white;
    border-radius: 30px;
    padding: 5px;
}

.dark {
    background-color: white;
    color: #000;
}

/* navbar */
.hesap {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.calculator {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        ". . . ."
        ". . . ."
        ". . . ."
        ". . . ."
        ". . . .";
}

.calculator .value {
    grid-column: span 4;
    height: 100px;
    text-align: right;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 28px;
    background-color: #1C1C1C;
    color: whitesmoke;
}

.calculator span {
    display: grid;
    width: 150px;
    height: 150px;
    color: #fff;
    background: #505050;
    place-items: center;
    border: 1px solid rgba(0, 0, 0, .1);
    font-size: 27px;
}


.calculator span:hover {
    background: #1C1C1C;
}

.calculator span:active {
    background: #D4D4D2;
}

.calculator span.sıfır {
    grid-column: span 2;
    width: 300px;
}

.calculator span.fil {
    background: #505050;
}

.calculator span.fil:active {
    background: #D4D4D2;
}

.calculator span.turuncu {
    background: #FF9500;
}

.calculator span.turuncu:active {
    background: #FF9100;
}